# IDE and test files
.vscode/**
.vscode-test/**

# Source files
src/**
**/*.ts

# Configuration files
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.js
**/biome.jsonc
**/prettier.config.mjs
.eslintcache
.prettierignore

# Build artifacts
**/*.map

# Documentation
vsc-extension-quickstart.md

# Version control and CI
.github/**
.changeset/**

# Dependencies
node_modules/**
pnpm-lock.yaml

