.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.js
**/biome.jsonc
**/prettier.config.mjs
**/*.map
**/*.ts
.changeset/**
.github/**
pnpm-lock.yaml
node_modules/**

